.carts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
  box-sizing: border-box;
  height: 100vh;
}

.cart-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 3rem;
  background-color: rgb(250, 250, 249);
  border: solid 1px rgb(172, 170, 170);
  height: 3rem;
  width: 50%;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
}

.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carts-list {
  margin-top: 7rem;
  margin-bottom: 3rem;
  width: 100%;
  min-height: 82%;
  overflow: scroll;
}

.checkout-button {
  position: fixed;
  bottom: 0rem;
  right: 0rem;
  width: 50%;
  border: solid 1px black;
}
