.search-container {
    position: fixed;
    top: 3rem;
    display: flex;
    height: 3rem;
    width: 50%;
}

.search-bar {
    background-color:rgb(250, 250, 249);
    padding-left: 5%;
    border: solid 1px rgb(172, 170, 170);
    flex-grow: 1;
    min-width: 0;
}

.search-button {
    width: 30%;
}