.App {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  min-height: 100vh;
}

button {
  height: 3rem;
  width: 100%;
  color: white;
  background-color: blue;
  border: none;
  cursor: pointer;
}

.card {
  display: flex;
  padding-left: 0.5rem;
  align-items: center;
  -webkit-box-shadow: 0 0 1px #000;
  box-shadow: 0 0 1px #000;
  height: 3rem;
  margin: 0.25rem;
  transition: 0.3s;
  cursor: default;
}
